<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aepronunciation.ipa"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnSingleActivity"
            android:label="@string/title_activity_learn_single"></activity>
        <activity
            android:name=".LearnDoubleActivity"
            android:label="@string/title_activity_learn_double"></activity>
        <activity
            android:name=".PracticeSingleActivity"
            android:label="@string/title_activity_practice_single"></activity>
        <activity
            android:name=".PracticeDoubleActivity"
            android:label="@string/title_activity_practice_double"></activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"></activity>
        <activity
            android:name=".TestSetupActivity"
            android:label="@string/title_activity_test_setup"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TestResultsActivity"
            android:label="@string/title_activity_test_results"></activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"></activity>
        <activity
            android:name=".HistoryTimeActivity"
            android:label="@string/title_activity_history_time"></activity>
        <activity
            android:name=".HistoryTestsActivity"
            android:label="@string/title_activity_history_tests"></activity>
        <activity
            android:name=".HistoryTestDetailsActivity"
            android:label="@string/title_activity_history_test_details"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"></activity>
        <activity android:name=".SelectSoundActivity"></activity>
    </application>

</manifest>